:root {
    --color-0: #171513;
    --color-1: #3A2920;
    --color-2: #704735;
    --color-3: #A8784F;
    --color-4: #F3EBDD;
    --color-5: #FAF7F0;
  }

header {
    background-color: var(--color-5);
    color: var(--color-0);
    text-align: center; 
}

header div {
  margin-bottom: 10px;
}

header img {
  width: 100px;
  height: auto;
  margin-left: 30px;
}
header h1 {
  color: #171513;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  line-height: 1.2;
  margin: 10px;
}
header nav {
    background-color: #3A2920;
    padding: 10px;
    margin-top: 15px;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    margin: 0 10px;
}

header nav a {
    color: #FAF7F0;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-decoration: none;
}

header nav a:hover {
    color: #A8784F;
}

footer {
    background-color: #3A2920;
    color: #FAF7F0;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 8px;
}

footer nav {
    background-color: #3A2920;
    padding: 10px;
    margin-top: 15px;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav li {
    display: inline-block;
    margin: 0 10px;
}

footer nav a {
    color: #FAF7F0;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-decoration: none;
}

footer nav a:hover {
    color: #A8784F;
}



main {
    background-color: #FAF7F0;
    color: #171513;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}


main > nav {
    background-color: #F3EBDD;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #A8784F;
    text-align: center;
}

main > nav h2 {
    color: #704735;
    font-size: 1.6em;
    margin-top: 0;
}

main > nav ul {
    padding-left: 20px;
}

main > nav a {
    color: #704735;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

main > nav a:hover {
    color: #A8784F;
}
main > nav li {
  display: inline-block;
  margin: 0 20px;
  
}

/* Secciones */
main section {
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #A8784F;
    background-color: #FFFFFF;
}

main section h2 {
    color: #704735;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.7em;
    text-align: center;
}

main section h3 {
    color: var(--color-1);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.5em;
}

main section p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

/* Enlaces de productos */
main section a {
    color: #704735;
    text-decoration: none;
    font-weight: bold;
}

main section a:hover {
    color: #A8784F;
}

/* PRODUCTOS DESTACADOS */

#productos ul {
    padding: 0;
    text-align: center;
}

#productos li {
    display: inline-block;
    width: 28%;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#productos li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#productos li span {
    color: #704735;
    font-weight: bold;
}
#productos a :hover{
    color: #704735;
}

/*ELECTTRICAS*/
#electricas ul {
    padding: 0;
    text-align: center;
}

#electricas li {
    display: inline-block;
    width: 28%;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#electricas li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#electricas li span {
    color: #704735;
    font-weight: bold;
}
#electricas a :hover{
  color: #A8784F;
}
/*ACUSTICAS*/
#acusticas ul {
    padding: 0;
    text-align: center;
}

#acusticas li {
    display: inline-block;
    width: 28%;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#acusticas li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#acusticas li span {
    color: #704735;
    font-weight: bold;
}
#acusticas a :hover{
  color: #A8784F;
}
/*CLASICAS*/
#clasicas ul {
    padding: 0;
    text-align: center;
}

#clasicas li {
    display: inline-block;
    width: 28%;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#clasicas li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#clasicas li span {
    color: #704735;
    font-weight: bold;
}
#clasicas a :hover{
  color: #A8784F;
}

/*ACCESORIOS*/
#accesorios ul {
    padding: 0;
    text-align: center;
}

#accesorios li {
    display: inline-block;
    width: 28%;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#accesorios li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#accesorios li span {
    color: #704735;
    font-weight: bold;
}
#accesorios a :hover{
  color: #A8784F;
}

.fotos {
    text-align: center;
}

